*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul{
    list-style: none;
    background: #303952;}
    
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 25px;
    text-align: center;
}
ul li ul .dropdown li{
display: block;
}
ul li .dropdown{
    width: 100%;
    background: #303952;
    position: absolute;
    display: none;
    z-index: 999;
}
ul li a:hover{
    background: #303952;
    opacity: 0.1;
    transition: 0.3s ease;
}

ul li:hover .dropdown{
    display: block;
    transition: 0.3s ease;
   
}